MUSIC_DIR=/music
PLAYLISTS_DIR=/music/playlists

MPD_DB=/var/lib/mpd/database

ICECAST_SOURCE_PASSWORD=hackme
ICECAST_RELAY_PASSWORD=hackme
ICECAST_ADMIN_PASSWORD=hackme
ICECAST_MAX_SOURCES=2

STREAM_NAME=radio
STREAM_DESC=radio
STREAM_URL=example.com/radio
STREAM_MOUNTPOINT=radio
